In [20]:
def foo(x):

    if x>10:

               return 10

    elif x>8:

               return 8

    else:

               return x

    x = x + 1

    return x

 

s = "Happy Valentine's Day"

y = foo(len(s))

print(y)

10

In [10]:
# Secondary program III
if x < 0:
    print("The negative number ",  x, " is not valid here.")
elif x > 0:
    print(x, " is a positive number")
else:
    print(x, " is 0")

The negative number  -10  is not valid here.

In [19]:
import pandas as pd

ufo = pd.read_csv('http://bit.ly/uforeports')
#print(ufo_reports)
ufo['Location'] = ufo['City'].str.cat(ufo['State'],sep=", ")

#print(ufo_reports['Location'])
print(ufo.iloc[[0,1,3,5,10],])
print(ufo_reports)

           City Colors Reported Shape Reported State             Time  \
0        Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1   Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
3       Abilene             NaN           DISK    KS   6/1/1931 13:00
5   Valley City             NaN           DISK    ND  9/15/1934 15:30
10      Fontana             NaN          LIGHT    CA  8/15/1937 21:00

           Location
0        Ithaca, NY
1   Willingboro, NJ
3       Abilene, KS
5   Valley City, ND
10      Fontana, CA
                       City Colors Reported Shape Reported State  \
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
5               Valley City             NaN           DISK    ND
6               Crater Lake             NaN         CIRCLE    CA
7                      Alma             NaN           DISK    MI
8                   Eklutna             NaN          CIGAR    AK
9                   Hubbard             NaN       CYLINDER    OR
10                  Fontana             NaN          LIGHT    CA
11                 Waterloo             NaN       FIREBALL    AL
12                   Belton             RED         SPHERE    SC
13                   Keokuk             NaN           OVAL    IA
14                Ludington             NaN           DISK    MI
15              Forest Home             NaN         CIRCLE    CA
16              Los Angeles             NaN            NaN    CA
17                Hapeville             NaN            NaN    GA
18                   Oneida             NaN      RECTANGLE    TN
19               Bering Sea             RED          OTHER    AK
20                 Nebraska             NaN           DISK    NE
21                      NaN             NaN            NaN    LA
22                      NaN             NaN          LIGHT    LA
23                Owensboro             NaN      RECTANGLE    KY
24               Wilderness             NaN           DISK    WV
25                San Diego             NaN          CIGAR    CA
26               Wilderness             NaN           DISK    WV
27                   Clovis             NaN           DISK    NM
28               Los Alamos             NaN           DISK    NM
29             Ft. Duschene             NaN           DISK    UT
...                     ...             ...            ...   ...
18211               Holyoke             NaN        DIAMOND    MA
18212                Carson             NaN           DISK    CA
18213              Pasadena           GREEN       FIREBALL    CA
18214                Austin             NaN      FORMATION    TX
18215              El Campo             NaN          OTHER    TX
18216          Garden Grove          ORANGE          LIGHT    CA
18217         Berthoud Pass             NaN       TRIANGLE    CO
18218            Sisterdale             NaN        DIAMOND    TX
18219          Garden Grove             NaN        CHEVRON    CA
18220           Shasta Lake            BLUE           DISK    CA
18221              Franklin             NaN           DISK    NH
18222        Albrightsville             NaN          OTHER    PA
18223            Greenville             NaN            NaN    SC
18224               Eufaula             NaN           DISK    OK
18225           Simi Valley             NaN      FORMATION    CA
18226         San Francisco             NaN      FORMATION    CA
18227         San Francisco             NaN       TRIANGLE    CA
18228            Kingsville             NaN          LIGHT    TX
18229               Chicago             NaN           DISK    IL
18230           Pismo Beach             NaN           OVAL    CA
18231           Pismo Beach             NaN           OVAL    CA
18232                  Lodi             NaN            NaN    WI
18233             Anchorage             RED        VARIOUS    AK
18234              Capitola             NaN       TRIANGLE    CA
18235        Fountain Hills             NaN            NaN    AZ
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

                   Time                  Location
0        6/1/1930 22:00                Ithaca, NY
1       6/30/1930 20:00           Willingboro, NJ
2       2/15/1931 14:00               Holyoke, CO
3        6/1/1931 13:00               Abilene, KS
4       4/18/1933 19:00  New York Worlds Fair, NY
5       9/15/1934 15:30           Valley City, ND
6        6/15/1935 0:00           Crater Lake, CA
7        7/15/1936 0:00                  Alma, MI
8      10/15/1936 17:00               Eklutna, AK
9        6/15/1937 0:00               Hubbard, OR
10      8/15/1937 21:00               Fontana, CA
11       6/1/1939 20:00              Waterloo, AL
12      6/30/1939 20:00                Belton, SC
13        7/7/1939 2:00                Keokuk, IA
14       6/1/1941 13:00             Ludington, MI
15       7/2/1941 11:30           Forest Home, CA
16       2/25/1942 0:00           Los Angeles, CA
17       6/1/1942 22:30             Hapeville, GA
18       7/15/1942 1:00                Oneida, TN
19      4/30/1943 23:00            Bering Sea, AK
20       6/1/1943 15:00              Nebraska, NE
21       8/15/1943 0:00                       NaN
22       8/15/1943 0:00                       NaN
23     10/15/1943 11:00             Owensboro, KY
24       1/1/1944 10:00            Wilderness, WV
25       1/1/1944 12:00             San Diego, CA
26       1/1/1944 12:00            Wilderness, WV
27       4/2/1944 11:00                Clovis, NM
28       6/1/1944 12:00            Los Alamos, NM
29      6/30/1944 10:00          Ft. Duschene, UT
...                 ...                       ...
18211  12/28/2000 18:00               Holyoke, MA
18212  12/28/2000 18:20                Carson, CA
18213  12/28/2000 19:10              Pasadena, CA
18214   12/29/2000 0:00                Austin, TX
18215   12/29/2000 9:00              El Campo, TX
18216  12/29/2000 16:10          Garden Grove, CA
18217  12/29/2000 19:30         Berthoud Pass, CO
18218  12/29/2000 20:00            Sisterdale, TX
18219  12/29/2000 20:30          Garden Grove, CA
18220  12/29/2000 20:30           Shasta Lake, CA
18221  12/29/2000 20:50              Franklin, NH
18222  12/29/2000 21:00        Albrightsville, PA
18223  12/29/2000 22:00            Greenville, SC
18224  12/29/2000 23:30               Eufaula, OK
18225  12/30/2000 10:00           Simi Valley, CA
18226  12/30/2000 22:00         San Francisco, CA
18227  12/30/2000 22:00         San Francisco, CA
18228   12/31/2000 4:00            Kingsville, TX
18229  12/31/2000 11:45               Chicago, IL
18230  12/31/2000 20:00           Pismo Beach, CA
18231  12/31/2000 20:00           Pismo Beach, CA
18232  12/31/2000 20:30                  Lodi, WI
18233  12/31/2000 21:00             Anchorage, AK
18234  12/31/2000 22:00              Capitola, CA
18235  12/31/2000 23:00        Fountain Hills, AZ
18236  12/31/2000 23:00            Grant Park, IL
18237  12/31/2000 23:00           Spirit Lake, IA
18238  12/31/2000 23:45           Eagle River, WI
18239  12/31/2000 23:45           Eagle River, WI
18240  12/31/2000 23:59                  Ybor, FL

[18241 rows x 6 columns]

In [16]:
movies = pd.read_csv('http://bit.ly/movieusers', sep='|', header = None)
#print(movies)

In [20]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data[2]

0.25